.TitleFormFooter
  text-transform: uppercase;
.FooterContainer
  background-color: #1c3543
  color: white
  padding: 3em 0
.link-nav .FooterContainer
  color: white
.link-nav .FooterContainer:hover
  color: #3333

@media screen and (max-width :991px)
  .navFooter
    margin-top: 2em
    text-align: center
  .Form-footer
    text-align: center;
  .titleNaveFooter
    text-align: center;
