.Header-container
  background-color #99c84a
  color white

.Header-container .Login
  color: white
  font-weight: bold;
  font-size: 20px
  text-transform: uppercase;
.Header-container .navbar-toggle
  color: white
  font-weight: bold;
  font-size: 25px
.Header-containerAling
  display flex
  align-items center
.Header-containerAling > div > h1
  margin-top 0
  margin-bottom 0
.Navbar-container
  margin-right 0
  display flex
  align-items center
  flex-flow: row wrap;
  justify-content: center
.navbar-nav > li > a
  color #363636
.MenuContainer
  background-color #f7f7f9
input.form-control:focus
  border-color #99c84a
.btn.Btn-adsi
  background-color #99c84a
  color white
.btn.Btn-adsi:hover
  background-color #8ab542
.NavbarDefault
  display: flex;
  justify-content: center;
.Container
  display: list-item;
.Iconsearch
  font-size: 20px
.navvarNew
  margin-bottom : 0
.SliderMargin
  width: 100%
  margin: 0
.DivSlide
  padding: 0
a.active:focus
  background-color: rgb(13, 221, 34) !important
@media (max-width: 767px)
  .SearchForm
    margin-top: .5em
    margin-bottom: .5em
